/*--------------------------------------------------------------
  17. Clients
----------------------------------------------------------------*/
.client-wrap {
  display: flex;

  .client-item,
  .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .client-item {
      width: 220px;
      transition: var(--theme-transition);

      &:hover {
          opacity: 0.7;
          transform: scale(0.9);
      }
  }
}

