/*--------------------------------------------------------------
  33. Coming
----------------------------------------------------------------*/

.coming-wrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .comin-wrap-in{
        width: 100%;
    }
    align-items: center;
    .time-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .comming-title{
        margin-bottom: 30px;
    }
}
.coming-wrapper{
    background-size: cover;
}   