/*--------------------------------------------------------------
  22. Project Case study
----------------------------------------------------------------*/
//Home Page Project Section
.project-masonry {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .cs-project-item {
    overflow: hidden;
    transition: transform 0.3s;
    .cs-project-item-content-in {
      position: relative;
      .project-meta-data {
        position: absolute;
        width: 90%;
        height: 90%;
        padding: 40px;
        bottom: 5%;
        top: 5%;
        right: 5%;
        left: 5%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.4s ease-in-out;
        color: var(--theme_white);
        .tag-item {
          margin-bottom: 15px;
        }
        h4,
        h5 {
          color: var(--theme_white);
          margin-bottom: 10px;
          transition: var(--theme-transition);
          transform-origin: left; 
          &:hover {
            transition: var(--theme-transition);
            transform: scaleX(0.95);
            font-weight: 400;
          }
        }        
      }
      &:hover {
        .project-meta-data {
          opacity: 1;
        }
      }
    }
  }
  .cs-project-item img {
    width: 100%;
    height: auto;
    display: block;
  }
}

@media screen and (max-width: 1400px) {
  .project-masonry .tag-item{
    display: none;
  }
  .project-masonry .cs-project-item .cs-project-item-content-in:hover .project-meta-data {
    width: 100%;
    height: 100%;
    padding: 30px;
    bottom: 50px;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme_black);
  }
}

@media screen and (max-width: 1199px) {
  .projects-list .project-item{
    .project-item-in img{
      width: 100vw;
    }
  }
  .project-masonry{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: auto;
    .cs-project-item.first{
      width: 50%;
      .cs-project-item-content-in img{
        height: 450px;
        object-fit: cover;
      }
    }
    .cs-project-item.second{
      width: 50%;
      .cs-project-item-content-in img{
        height: 450px;
        object-fit: cover;
      }
    }
    .cs-project-item.third{
      display: flex;
      width: 100%;
      .cs-project-item-content-in img{
        height: 400px;
        object-fit: cover;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .project-masonry{
    .cs-project-item.first{
      width: 100%;
      .cs-project-item-content-in img{
        max-height: 350px;
      }
    }
    .cs-project-item.second{
      width: 100%;
      .cs-project-item-content-in img{
        max-height: 350px;
      }
    }
    .cs-project-item.third{
      width: 100%;
      .cs-project-item-content-in img{
        max-height: 350px;
      }
    }
  }
}
.cs-border-pr {
  height: 100%;
  width: 1px;
  background-color: var(--themecolor);
  margin: auto;
}

//Project Single Page Description
.process-item {
  padding: 40px;
  background: var(--theme_bg_primary);
  border-left: 3px solid var(--themecolor);
}
.p-info-item {
  margin-bottom: 15px;
  p {
    margin: 0px;
  }
  h6 {
    font-size: 18px;
  }
}
.project-info {
  border-left: 1px solid var(--theme_white);
  padding-left: 20px;
}
.wcu-item {
  padding: 50px;
}

//Project Page Style
.project-item {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  .project-item-in {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease-in-out;
    }
  }
  .tag-item {
    margin-bottom: 15px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  h5,
  h4 {
    transition: var(--theme-transition);
    margin-bottom: 10px;
  }
  h5:hover,
  h4:hover {
    color: var(--themecolor);
    transition: var(--theme-transition);
  }

  .project-item-text {
    position: absolute;
    bottom: 0%;
    left: 30%;
    transform: translate(-0%, -0%) scale(0.9);
    padding: 40px;
    opacity: 0;
    visibility: hidden;
    transition: var(--theme-transition);
    width: 90%;
    background: var(--theme_white);
  }

  &:hover {
    .project-item-in img {
      transform: scale(1.1);
    }

    .project-item-text {
      transform: translate(-10%, -20%) scale(1);
      opacity: 1;
      visibility: visible;
    }

    .project-item-text .cs-text_b_line i {
      transform: translateX(5px);
    }
    @media screen and (max-width: 500px) {
      .project-item-text {
        transform: translate(-0%, -5%) scale(1);
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .project-item {
    .project-item-text {
      width: 100%;
      padding: 25px;
      left: 0px !important;
      bottom: 0px;
    }
    &:hover {
      .project-item-text {
        transform: translate(-0%, -5%) scale(1);
        bottom: 0px;
      }
    }
  }
}
