/*--------------------------------------------------------------
  01. Typography
----------------------------------------------------------------*/
// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Questrial&display=swap");
:root {
  --body-font-family: "Questrial", serif;
  --heading-font-family: "Heebo", serif;

  --heading-1-font-family: "Heebo", serif;
  --heading-2-font-family: "Heebo", serif;
  --heading-3-font-family: "Heebo", serif;
  --heading-4-font-family: "Heebo", serif;
  --heading-5-font-family: "Heebo", serif;
  --heading-6-font-family: "Heebo", serif;
  --paragraph-font-family: "Questrial", serif;
  --main-nav-font-family: "Questrial", serif;
  --span-font-family: "Questrial", serif;
  --i-font-family: "Questrial", serif;
  --body-font-family: "Questrial", serif;
  --link-text-font-family: "Questrial", serif;
  --button-font-family: "Questrial", serif;
  --blockquote-font-family: "Questrial", serif;
  --li-font-family: "Questrial", serif;

  --heading-1-font-size: 100px;
  --heading-2-font-size: 50px;
  --heading-3-font-size: 45px;
  --heading-4-font-size: 35px;
  --heading-5-font-size: 28px;
  --heading-6-font-size: 22px;
  --paragraph-font-size: 16px;
  --main-nav-font-size: 16px;
  --span-font-size: 16px;
  --i-font-size: 16px;
  --body-font-size: 16px;
  --link-text-font-size: 16px;
  --button-font-size: 16px;
  --blockquote-font-size: 16px;
  --li-font-size: 16px;

  --heading-1-font-weight: 700;
  --heading-2-font-weight: 700;
  --heading-3-font-weight: 500;
  --heading-4-font-weight: 500;
  --heading-5-font-weight: 500;
  --heading-6-font-weight: 500;
  --paragraph-font-weight: 500;
  --main-navont-weight: 500;
  --span-font-weight: 500;
  --i-font-weight: 500;
  --body-font-weight: 500;
  --link-text-font-weight: 500;
  --button-font-weight: 500;
  --blockquote-font-weight: 500;
  --li-font-weight: 500;

  --heading-1-font-line-height: 115%;
  --heading-2-font-line-height: 120%;
  --heading-3-font-line-height: 125%;
  --heading-4-font-line-height: 130%;
  --heading-5-font-line-height: 130%;
  --heading-6-font-line-height: 150%;
  --paragraph-font-line-height: 150%;
  --main-nav-line-height: 150%;
  --span-font-line-height: 150%;
  --i-font-line-height: 150%;
  --body-font-line-height: 150%;
  --link-text-font-line-height: 125%;
  --button-font-line-height: 125%;
  --blockquote-font-line-height: 125%;
  --li-font-line-height: 125%;
}

html,
body {
  color: var(--body-color);
  background-color: var(--drcs-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-font-line-height);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.cs_primary_font {
  font-family: var(--heading-font-family);
}

.cs_secondary_font {
  font-family: var(--body-font-family);
}

/* Heading 1 */
h1,
.cs-text-style-h1 {
  font-family: var(--heading-1-font-family);
  font-size: var(--heading-1-font-size);
  font-style: normal;
  font-weight: var(--heading-1-font-weight);
  line-height: var(--heading-1-font-line-height);
  color: var(--theme-light-heading-1-font-color);
}

@media (max-width: 991px) {
  h1,
  .cs-text-style-h1 {
    font-size: 80px;
  }
}

/* Heading 2 */
h2,
.cs-text-style-h2 {
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  font-style: normal;
  font-weight: var(--heading-2-font-weight);
  line-height: var(--heading-2-font-line-height);
  color: var(--theme-light-heading-2-font-color);
}

@media (max-width: 991px) {
  h2,
  .cs-text-style-h2 {
    font-size: 38px;
  }
}

/* Heading 3 */
h3,
.cs-text-style-h3 {
  font-family: var(--heading-3-font-family);
  font-size: var(--heading-3-font-size);
  font-style: normal;
  font-weight: var(--heading-3-font-weight);
  line-height: var(--heading-3-font-line-height);
  color: var(--theme-light-heading-3-font-color);
}

@media (max-width: 991px) {
  h3,
  .cs-text-style-h3 {
    font-size: 36px;
  }
}

/* Heading 4 */
h4,
.cs-text-style-h4 {
  font-family: var(--heading-4-font-family);
  font-size: var(--heading-4-font-size);
  font-style: normal;
  font-weight: var(--heading-4-font-weight);
  line-height: var(--heading-4-font-line-height);
  color: var(--theme-light-heading-4-font-color);
}
@media (max-width: 991px) {
  h4,
  .cs-text-style-h4 {
    font-size: 28px;
  }
}

/* Heading 5 */
h5,
.cs-text-style-h5 {
  font-family: var(--heading-5-font-family);
  font-size: var(--heading-5-font-size);
  font-style: normal;
  font-weight: var(--heading-5-font-weight);
  line-height: var(--heading-5-font-line-height);
  color: var(--theme-light-heading-5-font-color);
}

@media (max-width: 991px) {
  h5,
  .cs-text-style-h5 {
    font-size: 24px;
  }
}

/* Heading 6 */
h6,
.cs-text-style-h6 {
  font-family: var(--heading-6-font-family);
  font-size: var(--heading-6-font-size);
  font-style: normal;
  font-weight: var(--heading-6-font-weight);
  line-height: var(--heading-6-font-line-height);
  color: var(--theme-light-heading-6-font-color);
}

p {
  font-family: var(--body-font-family);
  font-size: var(--paragraph-font-size);
  font-style: normal;
  font-weight: var(--paragraph-font-weight);
  line-height: var(--paragraph-font-line-height);
  color: var(--theme-light-paragraph-font-color);
}


.theme-dark{
    h1,
    .cs-text-style-h1 {
      color: var(--theme-dark-heading-1-font-color);
    }

    h2,
    .cs-text-style-h2 {
      color: var(--theme-dark-heading-2-font-color);
    }

    h3,
    .cs-text-style-h3 {
      color: var(--theme-dark-heading-3-font-color);
    }

    h4,
    .cs-text-style-h4 {
      color: var(--theme-dark-heading-4-font-color);
    }

    h5,
    .cs-text-style-h5 {
      color: var(--theme-dark-heading-5-font-color);
    }

    h6,
    .cs-text-style-h6 {
      color: var(--theme-dark-heading-6-font-color);
    }

    p {
      color: var(--theme-dark-paragraph-font-color);
    }

    i{
      color: var(--theme-dark-i-font-color);
    }

    li{
      color: var(--theme-dark-li-font-color);
    }

    ul li span{
      color: var(--theme-dark-li-font-color)
    }

    span{
      color: var(--theme-dark-span-font-color);
    }

    a{
      color: var(--theme-dark-link-text-font-color);
      &:hover{
        color: var(--theme-dark-link-text-font-color);
      }
      span{
        color: var(--theme-dark-link-text-font-color);
      }
    }
}

ul {
  margin: 0 0 25px 0;
  padding-left: 20px;
  list-style: square outside none;
  &.cs_list_style_none {
    list-style: none;
    padding: 0px;
    li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

ol {
  padding-left: 20px;
  margin-bottom: 25px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 15px;
  font-style: italic;
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--blockquote-font-size);
  font-weight: var(--blockquote-font-weight);
  line-height: var(--blockquote-font-line-height);
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

button {
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: var(--themecolor);
}

table {
  width: 100%;
  margin-bottom: 25px;
  th {
    font-weight: 600;
    color: var(--body-color);
  }
  td,
  th {
    border-top: 1px solid var(--theme_light_border);
    padding: 11px 10px;
  }
}

dl {
  margin-bottom: 25px;
  dt {
    font-weight: 600;
  }
}

b,
strong {
  font-weight: bold;
}

pre {
  color: var(--body-color);
  border: 1px solid var(--theme_light_border);
  font-size: 18px;
  padding: 25px;
  border-radius: 5px;
}

kbd {
  font-size: 100%;
  background-color: var(--body-color);
  border-radius: 5px;
}


@media screen and (max-width: 991px) {
  body,
  html {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-font-line-height);
  }
  ul {
    margin: 0 0 25px 0;
    padding-left: 20px;
    list-style: square outside none;
    &.cs_list_style_none {
      list-style: none;
      padding: 0px;
      li {
        margin-bottom: 10px;
        h3 {
          font-size: 22px;
        }
      }
    }
  }
}

input,
textarea {
  color: var(--primary-color);
  transition: all 0.3s ease;
}
.cs-uppercase{
  text-transform: uppercase;
}

// Font Weight
.cs_light {
  font-weight: 300;
}

.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semi_bold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

.cs_extra_bold {
  font-weight: 800;
}

.cs_black {
  font-weight: 900;
}

.cs-font-size-20{
  font-size: 20px;
}

.cs-text-lh-200{
  line-height: 200%;
}